* {
    font-family:Arial, Helvetica, sans-serif;
    color: azure;
}

:root{
  /* CSS HEX */
--licorice: rgb(35, 35, 43);
--dark-goldenrod: #BE8D27ff;
--delft-blue: #223757ff;
--dark-slate-gray: rgb(46, 88, 92);
--lighter: rgb(115, 222, 231);
--cardinal: #C93045ff;
}

a {
  color: var(--eerie-black);
}

body {
  background-color: var(--licorice);
  font-family:Arial, Helvetica, sans-serif;
}

.head {
  font-weight: 600;
  color: aliceblue;
}
input {
  color: black;
  background-color: rgb(170, 248, 196);
}
label {
  color: white;
  background-color: rgb(43, 82, 11);
}

.flipbtn {
  width: 150px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  color: black;
  font-size: 12px;
}

.frontStyle {
  background: #d7fbda;
  color: green;
  border: #d7fbda 2px solid;
}

.backStyle {
  background: #fbd7f8;
  color: blue;
  border: #fbd7f8 2px solid;

}

.flip-card {
  width: 300px;
  height: 200px;
  font-size: 40px;
  margin: 10px;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
}

.flip-card:hover {
  border: green 2px solid;
  cursor:var(--cardinal);
  cursor:cell;
}

.loginForm {
  font-size: 14px;
  margin: 5px;
}

.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}

.submitbtn {
  background-color: green;
}

.weedcard, .weedcard li {
  color:darkgreen;
  background-color: chartreuse;
  list-style:square;
  padding: 5px 10px ;

}

.amounts {
  padding: 9px;
  background-color: darkgreen;
  width:max-content;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.inputField {
  color: black;
  min-width: 300px;
}
textarea{
  color: black;
  min-width: 300px;

}

.formBox {
  display:flex ;
  flex-direction:column ;
  align-items: center;
}

.ratings {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.rating {
  border: solid green 1px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: rgb(103, 196, 103);
  color: black;
}